/.phpunit.cache
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.DS_Store
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/tmp
/bootstrap/ssr
/resources/scripts/actions
/resources/scripts/routes
/resources/scripts/wayfinder
**/caddy
frankenphp
frankenphp-worker.php
/tests/Browser/Screenshots
*.log
Thumbs.db
_ide_helper.php
/.codex
/.cursor/
